/* You can add global styles to this file, and also import other style files */
body {
  background: #134e5e;
  background: linear-gradient(to right, #71b280, #134e5e);
}

.fontTitle{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
}
.textError{
  font-size: 1rem;
}